@model IEnumerable<PartyInvites.Models.GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>The Party of the Masters of The Universe - List of Responses</title>
</head>
<body>
<div class="panel-body">
<h2>There it is - the list of The Masters of The Universe who confirmed they presence at our great party!</h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <!--This is for labels -->
            <th>First name and last name</th>
            <th>Nickname</th>
            <th>Email address</th>
            <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <!--Foreach loop for obtaining data from GuestResponse Model -->
        @foreach (PartyInvites.Models.GuestResponse r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Nickname</td>
                <td>@r.Email</td>
                <td>@r.Phone</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>