@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    @ViewBag.Greeting world of the Masters of The Universe (from newly created view)!
</div>
</body>
</html>