@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>The Party of the Masters of The Universe</title>
</head>
<body>
<div class="text-center">
    <h2>Invitation to the Masters of the Universe greatest party ever!</h2>
    <h3>You are invited</h3>
    <a class="btn btn-primary" a asp-action="RsvpForm">Send RSVP</a>
</div>
</body>
</html>